= simple_form_for @retirement_projection do |f|

  =f.input :year_of_birth
  =f.input :current_savings, hint: "Total of 401k, retirement accounts, etc. that will earn interest."
  =f.input :current_annual_income, hint: "(Annual) What is your current income or household income."
  =f.input :expected_percentage_increase_in_income_yearly, hint: "Do you to expect to continue to get raises and earn more money each year? If so put in the percentage annually your wage will increase."
  =f.input :current_annual_expenditures, hint: "(Annual) How much are you currently spending each year. Includes rent, gas, food, vacations, car payments. All of it."
  =f.input :expected_percentage_increase_in_expenditures, hint: "Do you expect this to continue to increase due to a growing family or you wanting to aquire more things? At what percentage will your wage increase each year?"
  =f.input :planned_retirement_age, hint: "At what age do you want to transition to retirement?"
  =f.input :age_at_death, hint: "How old will you be when you finally kick the bucket? Or until what age do you and your partner need the money to last?"
  =f.input :expected_income_once_retired, hint: "(Annual) In your retirement do you still plan to work part-time or earn some extra money? If so, how much?"
  =f.input :expected_inflation_rate, hint: "You can adjust the expected rate of inflation if you want."
  =f.input :expected_present_day_expenses_when_retired, hint: "(Annual) How much do you expect you will need in present day dollars to live when you retire? The calculator will adjust this based on your inflation rate."
  =f.input :expected_average_rate_of_return_on_savings, hint: "How much do you expect to earn on your investments before you retire. Most likely you are being more aggressive currently and this might be around 3 - 10%"
  =f.input :expected_average_rate_of_return_on_savings_retired, hint: "Often times when people retire they adust their investments to be less risky and therefore expect a lower rate of return. What interest do you expect to gain on your investments once you have retired?"
  %br

  = f.submit 'Run Calculation', class: 'btn btn-primary'
  %br
